* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10;

  margin-top: 60;
}

.field {
  display: block;
  color: black;

  display: inline;

  border-radius: 20px;
  
  border: 1px solid green;
  padding: 10px;
  width: 100px;
}
.value {
  display: flex;
  justify-content: center;
  font-size: large;
}

.label {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: xx-small;
}